h1 {
  
  margin-left: 30%;
  
}

ul {
  padding: 10px;
  margin-left: 5rem;
  width: 70%;
  flex-direction: row;
  
}

ul li {
  cursor: pointer;
  position: relative;
  background: #eee;
  font-size: 18px;
  padding: 12px;
  text-align: center;
  list-style: none;
  display: flex;



}
#checkbox {
margin-left: 0px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

#header {

  padding: 10px 10px;
  color: white;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-right: 20%;
}

.addBtn {
  padding: 20px;
  background: #d9d9d9;
  width: 10%;
  color: #555;
  float: center;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  
}

#input {
  
  font-size: 1.5rem;
  margin-left: 5rem;
  flex-grow: 2;
  padding: 10px;
  width: 70%;
  font-size: 16px;
  border: 1px solid black;

}

.addBtn:hover {
  background-color: #bbb;

}
div input:checked  + span { 

  text-decoration: line-through;
  
}